@import '~@myndmanagement/styles/styles/variables';
@import '../../../../styles/expandable-panel';

.accounting-import {
  padding: 30px;

  .wizard-step {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  .buttons-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}
